body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
/* .Navbar styling start here */
.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: -20px; 
    margin-top: 20px;
    font-style: italic;
    font-size: 30px;
}
.navlinks a{
    text-decoration: none;
    color: black;
    gap: 50px;
}
.navbutton a{
    text-decoration: none;
    color: black; 
   background-color: teal;
   display: inline-block;
   border-radius: 10px;
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 20px;
   margin-right: 20px;
}
.icon img{
    width: 20rem;
}
.first {
    display: flex;
}
.text {
    padding: 50px;
    max-width: 50%;
}
.text h1{
    width: 20rem;
}
.text .edition{
    font-size: 40px;
}
.text p{
    width: 35rem;
}
.button{
    margin-top: 20px;
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 20px;
}
.grid{
    width: 50%;
}
.grid img{
    width: 35rem;
    height: 100%;
    border-radius: 1.5rem;
    margin-top: 65px; 
}
.second{
    margin: 10rem;
    padding: 10px;
}
.garri{
    background-color: teal;
    display: flex;
    border-radius: 15px;
    margin: 15px;
    justify-content: space-between;
}
