*{
    font-family: "Nunito" , san-serif;
}


body{
    background-color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
/* .Navbar styling start here */
.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: -20px; 
    margin-top: 20px;
    font-style: century gothic;
    font-size: 30px;
    height: 3rem;
    margin-bottom: 200px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.navlinks{
    gap: 5rem;
    display: flex;
}
.navlinks a{
    text-decoration: none;
    color: black;
    gap: 50px;
}
.navbutton a{
    text-decoration: none;
    color: white; 
   background-color: teal;
   display: inline-block;
   border-radius: 5px;
   padding-left: 10px;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   font-weight: bolder;
}
.icon img{
    width: 15rem;
}
.first {
    display: flex;
}
.text {
    padding: 50px;
    max-width: 50%;
}
.text h1{
    width: 20rem;
}
.text .edition{
    font-size: 40px;
}
.text p{
    width: 35rem;
}
.button{
    margin-top: 20px;
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 20px;
}
.grid{
    width: 50%;
}
.grid img{
    width: 35rem;
    height: 100%;
    border-radius: 1.5rem;
    margin-top: 35px; 
    max-width: 100%;
    max-height: 100%;
}
/* garri styling starts here 
.every {
    padding-top: 5rem;  
    border-radius: 20px;
    background-color: teal;
    justify-content: center;
    margin-top: 5rem;
}
.header{
    padding-left: 35rem;
}
.stuff{
    display: flex;
    justify-content: space-evenly;
}  */
  /* my styling starts here */
  .overview {
    padding-bottom: 2.5rem;
    padding-top: -50px;
    border-radius: 5px;
    background-color: teal;
    justify-content: center;
    margin-top: 5rem;
    color: white;
  }
  .h2{
    padding-left: 30rem;
    padding-top: 5rem;
    /* justify-content: center; */
  }
  .container{
    display: flex;
    justify-content: space-evenly;
  }
  .text2 {
    padding-top: 50px;
    max-width: 50%;
  }
  .text2 h3{
    width: 15rem;
  }
.instinct a {
    text-decoration: none;
    color: teal;
    font-weight: bolder;
  }
.text2 p {
    width: 47rem;
  }